body {
    background-image: linear-gradient(to right,#0F2027, #203A43);
    background-size: cover;
    font-family: 'Inter', sans-serif;
    text-align: center;
    height: 45vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-weight: 600;
}



.container {
    background-color: #EFEFEF;
    width: 50%;
    margin: 22% auto;
    border-radius: 10px;
    padding: 2rem;
}


button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 12.5rem;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #222;
}

#save-btn {
    background: darkred;
}